@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@mixin max-breakpoint($size) {
    @media (max-width: $size) {
        @content;
    }
}

@mixin typography($font-size, $line-height, $bold, $letter-spacing: null) {
    font-size: $font-size;
    line-height: $line-height;
    font-family: 'Outfit', sans-serif;
    @if $bold ==true {
        font-weight: 700;
    } @else {
        font-weight: 500;
    }

    @if $letter-spacing !=null {
        letter-spacing: $letter-spacing;
    }
}
